*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333B41;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*=__container] {
  max-width: 1160px;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background-color: #000000;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 80px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.header__logo {
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  border: 1.18841px solid;
  border-radius: 2px;
  padding: 3.55px 4.75px;
}

.header__menu {
  margin: 0 0 0 63px;
}

.menu__list {
  display: flex;
}

.menu__item:not(:last-child) {
  margin: 0 58px 0 0;
}

.menu__link:hover,
.header__figma-link:hover {
  color: #F9804B;
}

.link-active {
  color: #F9804B;
}

.header__figma-link {
  margin-left: auto;
}

.main {
  flex: 1 1 auto;
}

.section1 {
  background: url("../img/giant_panda.jpg") 0 0/100% 100% no-repeat;
}

.section1__container {
  min-height: 780px;
}

.section1__orange-circle {
  position: absolute;
  width: 465px;
  height: 465px;
  left: calc(50% - 232.5px + 239.5px);
  top: 92px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
}

.section1__title {
  position: relative;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 500px;
  margin-left: auto;
  padding: 166px 0 0 0;
}
.section1__title span {
  color: #FFEE2E;
}

.section1__button {
  margin: 60px 0 0 765px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.button:hover {
  background: #E47209;
}

.button-type1 {
  min-height: 54px;
  min-width: 298px;
  border-radius: 25px;
}

.button-type3 {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}

.section2 {
  position: relative;
}

.section2__content {
  margin-top: 140px;
  margin-bottom: 180px;
  display: flex;
}

.section2__text-content {
  margin-left: 87px;
}

.section2__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 20px;
}

.section2__title-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 54px;
}

.section2__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 34px;
}

.section2__subtitle-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.section2__flower {
  display: inline-block;
  position: absolute;
  top: -128px;
  right: 0;
}

.section3 {
  color: #000000;
}

.section3__part1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section3__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.foto-card {
  width: 367px;
  height: 426px;
  margin-bottom: 20px;
  border: 1px solid #F9804B;
  border-radius: 5px;
}

.foto-card__img {
  width: 365px;
  height: 365px;
  border-radius: 5px 5px 0 0;
}

.foto-card__bottom-content {
  display: flex;
  justify-content: space-between;
  margin: 8px 0 0 17px;
}

.foto-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
}

.foto-card__icon {
  margin: 10px 13px 0 0;
}

.section3__button {
  margin: 60px auto 100px auto;
}

.arrow-right {
  transform: rotate(-180deg);
}

.section3__container {
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.section3-1__container {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
